[workspace]
resolver = "2"
members = [
    "crates/rsprof",
    "crates/rsprof-trace",
]

[workspace.package]
version = "0.1.8"
edition = "2024"
license = "MIT"

[profile.release]
lto = "thin"
codegen-units = 16

[profile.profiling]
inherits = "release"
debug = true
